<div class="carousel-container" #carouselContainer>
  <div class="carousel" #carousel>
    <figure class="carousel__item item--{{ i + 1 }}" *ngFor="let item of items; let i = index">
      <img [src]="item.url" [alt]="item.title">
      <div class="text">
        <small>{{ item.subtitle }}</small>
        <div class="space-between">
          <p class="title">{{ item.title }}</p>
          <small>{{ item.date }}</small>
        </div>
        <div class="dt" [innerHtml]="item.desc"></div>
      </div>
    </figure>
  </div>
  <button class="prev" (click)="prev()" [disabled]="prevSlideFinished || isAnimating"
    [ngStyle]="{'opacity: 0.1; cursor: default': prevSlideFinished}">
    <div class="icon">
      <i class="ri-arrow-left-circle-line"></i>
    </div>
  </button>
  <button class="next" (click)="next()" [disabled]="isAnimating || middleIndex! <= 1"
    [ngStyle]="{'opacity: 0.1; cursor: default': middleIndex! <= 1}">
    <div class="icon">
      <i class="ri-arrow-right-circle-line"></i>
    </div>
  </button>
</div>
