<header class="header" id="navigation-menu">
  <nav class="navbar">
    <div class="container space-between">
      <a routerLink="/" class="nav-logo js-anchor-link">
        <img [src]="logo" alt="Learning Pirate" />
      </a>
      <ul class="nav-menu">
        <li class="nav-item" *ngFor="let item of list">
          <a [routerLink]="item.url" class="nav-link js-anchor-link" routerLinkActive="active">
            {{ item.title }}
          </a>
        </li>
        <button class="btnn" routerLink="/membership">Join the crew</button>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>
</header>
