header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  padding-top: 40px;
}

header .navbar.sticky {
  top: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  z-index: 10000;
}

header .navbar.sticky .logo img {
  width: 110px !important;
}

/* end Dropdown */
.get-started {
  margin-left: 40px;
  padding: 1px 35px;
  color: var(--white);
  background: var(--primary-color);
  box-shadow: 0px 4px 10px #4169e14d;
  border-radius: 25px;
  border: none !important;
}

.btnn {
  padding: 8px 35px;
  color: var(--white);
  background: var(--primary-color);
  box-shadow: 0px 4px 10px #4169e14d;
  border-radius: 50px;
  border: none !important;
}

.btnn:hover {
  padding: 8px 35px;
  color: var(--white);
  background: var(--primary-color-2);
  box-shadow: 0px 4px 10px #4169e14d;
  border-radius: 50px;
  border: none !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 0px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 0rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--secondary-color);
}

header .navbar.sticky .nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
}
header .navbar.sticky .nav-link:hover {
  color: var(--primary-color);
}
header .navbar.sticky .nav-link.active {
  color: var(--primary-color);
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link.active {
  color: var(--primary-color);
}

.nav-logo {
  width: 120px;
}

@media only screen and (max-width: 900px) {
  .nav-menu {
    display: block;
    position: fixed;
    left: -100%;
    top: 8.5rem;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding-bottom: 40px;
  }

  .nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white);
  }
  .nav-link:hover {
    color: var(--primary-color);
  }
  .nav-link.active {
    color: var(--primary-color);
  }

  .nav-menu.active {
    left: 0%;
  }

  .nav-item {
    margin: 0.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
