#partners {
  background: var(--scaffold-background-color-2);
  padding: 50px 0px;
}

.partner-container {
  background: var(--scaffold-background-color-2);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.partner-item {
  margin: 4px;
  flex: 0 1 calc(20% - 8px);
}

.partner-item img {
  height: 53px;
  width: auto;
}

.t-h {
  display: flex;
  justify-content: center;
  width: 100%;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  padding-left: 105px;
}

div.scrollmenu .img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 33px 40px 33px 0px;
  text-decoration: none;
}

div.scrollmenu .img img {
  height: 60px !important;
}

.center h4 {
  align-items: center !important;
  font-size: 39px;
  line-height: 50px;
}

/*---media start----*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 595px) {
  #partners {
    background: var(--scaffold-background-color-2);
    padding: 50px 20px;
  }
  .partner-item {
    margin: 4px;
    flex: 0 1 calc(450% - 10px);
  }
  .partner-item img {
    margin-bottom: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 799px) {
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
}

@media screen and (min-width: 1100px) and (max-width: 1299px) {
}

@media screen and (min-width: 1300px) {
}
