<app-breadcrumb [title]="breadcrumbTitle"></app-breadcrumb>

<section class="learning-design">
  <div class="container">
    <div class="row">
      <div class="col-d-6 col-t-6">
        <div class="speech">
          <div class="quote">
            <i class="ri-double-quotes-l"></i>
          </div>
          <div [innerHtml]="sectionOne.quote"></div>
          <div class="space-between">
            <p>&nbsp;</p>
            <div class="quote">
              <i class="ri-double-quotes-r"></i>
            </div>
          </div>
        </div>
        <div class="name">
          <p>{{ sectionOne.author }}</p>
          <small>{{ sectionOne.jobTitle }}</small>
        </div>
      </div>
      <div class="col-d-6 col-t-6"></div>
    </div>
  </div>
</section>

<section class="learning-design-process">
  <div class="container">
    <div class="h">
      <h4 [innerHtml]="sectionTwo.title"></h4>
    </div>
    <div class="row">
      <div class="col-d-8 col-t-8">
        <div class="d">
          <p>{{ sectionTwo.desc }}</p>
        </div>
        <div class="btn-holder">
          <button class="btn" [routerLink]="sectionTwo.btnLink">
            {{ sectionTwo.btnText }}
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-d-3 col-t-3" *ngFor="let item of processes">
        <div class="process-card">
          <div class="t">{{item.id}}</div>
          <div class="t">{{ item.title }}</div>
          <div class="d" [innerHtml]="item.desc"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-let-create-together></app-let-create-together> -->
<section class="lets-create">
  <div class="container">
    <div class="row">
      <div class="col-d-2 col-t-2"></div>
      <div class="col-d-4 col-t-4 align-left">
        <h4>Do you have learning curiosities specific to <span> your organization?</span></h4>
      </div>
      <div class="col-d-6 col-t-6 align-left">
        <p>Are you looking for a keynote, conference session or workshop that speaks directly to the brains of your
          audience?</p>
        <p>Lauren will personally work with your team to customize an experience for your event to open the doors of
          curiosity for your audience.</p>
        <div class="btn-holder">
          <button class="btn" routerLink="/contact-me">Book a call with Lauren</button>
        </div>
      </div>
    </div>
  </div>
</section>
