<div class="options">
  <div class="option" *ngFor="let item of items; let i = index" [ngClass]="{'active': i == selectedIndex}"
    (click)="setActiveItem(item, i)">

    <div class="label">
      <div class="icon">
        <img [src]="item.imageUrl" alt="Avatar">
      </div>

      <div class="info">
        <div class=" testimony-card-inner">
          <p style="font-size: 11px;">{{ item.testimony }}</p>
          <p class="mmb">{{ item.name }}</p>
          <small>{{ item.title }}</small>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="content-wrapper">
  <div class="slide-indicator " *ngFor="let item of items; let i = index" [ngClass]="{'active': i == selectedIndex}"
    (click)="setActiveItem(item, i)">
  </div>
</div>
