#testimonials {
  background: #263043;
  padding: 60px 0px 10px 0px;
  width: 100%;
  display: flex;
  grid-template-columns: 150px auto;
  overflow-x: hidden;
}

.row {
  margin-right: 0px !important;
  padding-right: 0px !important;
  width: 100%;
}

.is-right {
  width: 150px;
  margin-left: auto;
  margin-left: 0px;
}

.intro-cont {
  width: 90%;
  margin-bottom: 60px;
  text-align: center;
}
.intro-cont h3 {
  font-size: 35px;
  line-height: 45px;
  color: var(--white);
  font-weight: bold;
}
.intro-cont h3 span {
  font-size: 35px;
  line-height: 45px;
  color: var(--primary-color-2);
  font-weight: bold;
}
.intro-cont p {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--white-50);
  margin-top: 25px;
}
.intro-cont .action {
  margin-top: 60px;
}

.testimony-container {
  width: 90%;
  text-align: center !important;
  margin-bottom: 60px;
}
.testimony-card {
  background: #ffffff10;
  width: 890px;
  border-radius: 10px;
  padding: 20px 20px 30px 40px;
  margin-bottom: 30px;
  display: inline-block;
  margin: 0 auto;
  text-align: left !important;
}

.testimony-card .row {
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.testimony-card-inner p {
  font-size: 16px;
  line-height: 35px;
  color: var(--white);
  text-transform: capitalize;
}

.mmb {
  margin-top: 10px;
  font-size: 20px !important;
  line-height: 21px !important;
  margin-bottom: 2px;
}

.mt-m-33 {
  margin-top: -33px;
}

small {
  color: var(--white-50);
  margin-top: -20px;
}

.image-holder {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: #7851a9;
  margin-top: 20px;
  margin-left: 20px;
}
.avatar {
  margin-top: 10px;
  margin-left: 10px;
  vertical-align: middle;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  border: 10px solid #7851a9;
}

.quote {
  font-size: 36px;
  color: #7c7c7c;
}

.content-wrapper {
  width: 100%;
  white-space: nowrap;
  // overflow: hidden;
}

.content-wrapper .slide-indicator {
  width: 25px;
  height: 0px;
  border: 2px solid var(--white-50);
  border-radius: 4px;
  float: left;
  margin-right: 15px;
}

.content-wrapper .slide-indicator:hover {
  border: 2px solid var(--white);
}

.content-wrapper .slide-indicator.active {
  width: 35px;
  height: 0px;
  border: 2px solid var(--white);
  border-radius: 4px;
  float: left;
  margin-right: 15px;
}

.float-bottom {
  margin-top: 60px;
  margin-left: -150px;
}

// NEW WAY

/* Fade-In Effect */
.testimony-card.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
/* Fade-Out Effect */
.testimony-card.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

// Media
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 595px) {
  #testimonials {
    height: auto;
    padding: 20px !important;
    width: 100% !important;
  }

  #testimonials .is-right {
    display: none;
  }

  .intro-cont .action {
    margin: 24px 0px;
  }

  .content-wrapper .testimony-card {
    background: #ffffff10;
    width: 100%;
    border-radius: 10px;
    padding: 22px 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    white-space: normal;
    overflow: auto;
  }

  .testimony-container {
    width: 100%;
    text-align: center !important;
    margin-bottom: 60px;
  }

  .testimony-card {
    background: #ffffff10;
    width: 100%;
    border-radius: 10px;
    padding: 20px 20px 30px 40px;
    margin-bottom: 30px;
    display: inline-block;
    margin: 0 auto;
    text-align: left !important;
  }

  .testimony-card-inner p {
    font-size: 16px;
    line-height: 35px;
    color: var(--white);
    text-transform: capitalize;
    margin-top: 25px;
  }

  h3,
  h4 {
    font-size: 1.22rem;
    line-height: 1.8rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  #testimonials {
    background: #263043;
    height: auto;
    min-height: 610px;
    padding: 60px 0px 60px 30px;
    width: 100%;
  }
  .intro-cont .action {
    margin-top: 24px;
    margin-bottom: 30px;
  }

  .testimony-card {
    background: #ffffff10;
    width: 100%;
    border-radius: 10px;
    padding: 20px 20px 30px 40px;
    margin-bottom: 30px;
    display: inline-block;
    margin: 0 auto;
    text-align: left !important;
  }

  .testimony-card-inner p {
    font-size: 16px;
    line-height: 35px;
    color: var(--white);
    text-transform: capitalize;
    margin-top: 25px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
  #testimonials {
    background: #263043;
    height: 611px;
    min-height: 610px;
    padding: 60px 0px 50px 50px;
    width: 100%;
  }
  .test .btn {
    padding: 10px 20px;
    color: var(--white);
    background: var(--primary-color-2);
    box-shadow: 0px 4px 10px #4169e14d;
    border-radius: 25px;
    border: none !important;
  }

  .testimony-card {
    background: #ffffff10;
    width: 100%;
    border-radius: 10px;
    padding: 20px 20px 30px 40px;
    margin-bottom: 30px;
    display: inline-block;
    margin: 0 auto;
    text-align: left !important;
  }

  .testimony-card-inner p {
    font-size: 16px;
    line-height: 35px;
    color: var(--white);
    text-transform: capitalize;
    margin-top: 25px;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

#slide {
  position: absolute;
  left: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  transition: 1s;
}

.wrapper:hover #slide {
  transition: 1s;
  left: 0;
}

.is-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
