<section id="testimonials">
  <div class="is-right">
    <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16]">
      <span *ngFor="let item of [1, 2, 3, 4]" class="circle-15-b" style="margin-right: 6px;"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-t-12 col-d-12">
      <div class="row">
        <div class="col-d-5 col-t-5">
          <div class="intro-cont">
            <h3>What The Clients <span>Say!</span></h3>
            <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore
              Et
              Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Et Accusam.</p>
            <div class="action">
              <button class="btn-outline">Let’s Chat</button>
            </div>
          </div>
        </div>
        <div class="col-d-7 col-t-7">

          <app-testimony-carousel [items]="testimonies" [autoSlide]="true"></app-testimony-carousel>

        </div>
      </div>
    </div>
  </div>

</section>
