<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-d-4 col-t-4">
        <div class="left-cont">
          <h3>Joining Forces with Your Brain:
            <span>The series</span> is coming!</h3>
          <p>A program built around community, to teach you about your brains, how to learn, and how to design learning
            with science!</p>
        </div>
      </div>
      <div class="col-d-7 col-t-7">
        <div class="right-cont">
          <p>Get on the waiting list and while you’re there download some free learning/design tips you can start using
            now!</p>
          <div class="mt-40">
            <div class="row">
              <div class="col-d-6">
                <input type="text" class="app-input" placeholder="Your Name" />
              </div>
              <div class="col-d-6"></div>
            </div>
            <div class="row mt-10">
              <div class="col-d-6">
                <input type="text" class="app-input" placeholder="Your Name" />
              </div>
              <div class="col-d-6">
                <button class="btn ml-30">
                  Join the waiting list
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-d-1 col-t-1"></div>
    </div>
  </div>

  <div class="rowm">
    <div class="space-between">
      <p>&nbsp;</p>
      <div class="">
        <div *ngFor="let item of [1, 2, 3, 4, 5, 6]">
          <span *ngFor="let item of [1, 2, 3]" class="circle-15" style="margin-right: 6px;"></span>
        </div>
      </div>
    </div>
  </div>

</section>
