<section id="call-to-action">

  <div class="row">
    <div class="col-d-2 col-t-2">
      <div class="rowm">
        <div class="space-between">
          <div class="">
            <div *ngFor="let item of [1, 2, 3, 4, 5]">
              <span *ngFor="let item of [1, 2, 3, 4]" class="circle-15" style="margin-right: 6px;"></span>
            </div>
          </div>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
    <div class="col-d-8 col-t-8">

      <div class="center">
        <div class="intro-cont mt-4">
          <h3>
            {{ sectionFive.title }} <span>{{ sectionFive.titleSpan }}</span>
          </h3>

          <div class="sub-content" [innerHtml]="sectionFive.subtitle"></div>

          <button class="btn ml-30" [routerLink]="sectionFive.btnUrl">
            Join the waiting list
          </button>
        </div>
      </div>

      <!-- <div class="mdl">
        <div class="row">
          <div class="col-d-4 col-t-4">
            <div class="left-cont">
              <h3 [innerHtml]="sectionFive.title"></h3>
              <p>{{ sectionFive.subtitle}}</p>
            </div>
          </div>
          <div class="col-d-7 col-t-7">
            <div class="right-cont">
              <p>{{ sectionFive.desc }}</p>
              <div class="mt-40">
                <form (ngSubmit)="onSubmit()" [formGroup]="form">
                  <div class="row">
                    <div class="col-d-6">
                      <input type="text" class="app-input" placeholder="Your Name" #fullName
                        formControlName="fullName" />
                    </div>
                    <div class="col-d-6"></div>
                  </div>
                  <div class="row mt-10">
                    <div class="col-d-6">
                      <input type="text" class="app-input" placeholder="Your Email" #email formControlName="email" />
                    </div>
                    <div class="col-d-6 test">
                      <button class="btn ml-30" [disabled]="isSubmitting" [ngClass]="{'disabled': isSubmitting}">
                        <ng-container *ngIf="isSubmitting">
                          <i class="ri-loader-2-line"></i> Processing
                        </ng-container>
                        <ng-container *ngIf="!isSubmitting">
                          {{ sectionFive.btnText }}
                        </ng-container>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-d-1 col-t-1"></div>
        </div>
      </div> -->
    </div>
    <div class="col-d-2 col-t-2">
      <div class="rowm">
        <div class="space-between  parent">
          <p>&nbsp;</p>
          <div class="float-bottom">
            <div *ngFor="let item of [1, 2, 3, 4, 5, 6]">
              <span *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]" class="circle-15" style="margin-right: 6px;"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
