<section class="banner">
  <div class="app-container">
    <div class="row">
      <div class="col-d-5 col-t-4">
        <div class="banner-img-holder">
          <img [src]="sectionOne.imageUrl" alt="" class="img">
        </div>
      </div>
      <div class="col-d-7 col-t-8">
        <div class="banner-content">
          <h2>
            {{ sectionOne.title }} <span>{{ sectionOne.titleSpan }}</span>
          </h2>
          <p class="desc">{{ sectionOne.subtitle }}</p>
        </div>

        <div class="bb">
          <button class="btn bb" [routerLink]="sectionOne.btnLink">
            {{ sectionOne.btnText }}
          </button>
        </div>

      </div>
    </div>

    <!-- <div class="row banner-base">
      <div class="col-d-6 col-t-6 follow-me">
        <div class="">Follow Me</div>
        <div class="socials">
          <a *ngFor="let item of socialPages" [href]="item.url" target="_blank">
            <img [src]="item.icon" alt="">
          </a>
        </div>
      </div>
      <div class="col-d-6 col-t-6">
        <div id="sdc" class="demo">
          <a (click)="toTop()">
            Scroll&nbsp;&nbsp; <span></span> &nbsp; &nbsp; down
          </a>
        </div>
      </div>
    </div> -->
  </div>

</section>

<section id="meet-lauren">
  <div class="app-container">
    <div class="row">
      <div class="col-d-7 col-t-7">
        <div class="mm-content">
          <div class="pp">
            <h3>
              <span>{{ sectionTwo.titleSpan }}</span> <br>
              {{sectionTwo.title}}
            </h3>

          </div>
          <div class="desc-one" [innerHtml]="sectionTwo.desc"></div>
          <div class="desc-two" [innerHtml]="sectionTwo.para"></div>
          <div class="btn-holder">
            <button class="btn bb" [routerLink]="sectionOne.btnLink">
              {{ sectionTwo.btnText }}
            </button>
          </div>
        </div>
      </div>
      <div class="col-d-5 col-t-5">
        <div class="mrn parent">
          <img [src]="sectionTwo.imageUrl" alt="" class="child-bottom">
        </div>
      </div>
    </div>
  </div>
</section>

<app-partners></app-partners>

<section id="helper">
  <div class="container">
    <div class="row">
      <div class="col-d-6 col-t-6"></div>
      <div class="col-d-6 col-t-6 hc">
        <div class="help">
          <h4>
            {{ sectionThree.title }} <span>{{ sectionThree.titleSpan }}</span>
          </h4>
        </div>
        <div class="desc white">
          <p>{{sectionThree.subtitle}}</p>
        </div>
        <div class="row">
          <div class="col-d-6">
            <div class="help-card" *ngIf="sectionThree.itemOne">
              <div class="row">
                <div class="col-d-2 ic">
                  <img [src]="sectionThree.itemOne.icon" alt="">
                </div>
                <div class="col-d-10">
                  <h4>{{ sectionThree.itemOne.title }}</h4>
                  <p class="white">{{ sectionThree.itemOne.desc }}
                    <a href="javascript:;">click for more</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="help-card" *ngIf="sectionThree.itemTwo">
              <div class="row">
                <div class="col-d-2 ic">
                  <img [src]="sectionThree.itemTwo.icon" alt="">
                </div>
                <div class="col-d-10">
                  <h4>{{ sectionThree.itemTwo.title }}</h4>
                  <p>{{ sectionThree.itemTwo.desc }}
                    <a href="javascript:;">click for more</a>
                  </p>
                </div>
              </div>
            </div>

          </div>
          <div class="col-d-6">

            <div class="help-card" *ngIf="sectionThree.itemThree">
              <div class="row">
                <div class="col-d-2 ic">
                  <img [src]="sectionThree.itemThree.icon" alt="">
                </div>
                <div class="col-d-10">
                  <h4>{{ sectionThree.itemThree.title }}</h4>
                  <p>{{ sectionThree.itemThree.desc }}
                    <a href="javascript:;">click for more</a>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-testimonial></app-testimonial>

<app-call-to-action></app-call-to-action>
