.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  transition: 0.5s;
  animation-name: FadeIn;
  animation-duration: 3s;
  transition-timing-function: linear;
  align-items: center;
  background: var(--secondary-color);
  background-size: cover;
  background-position: center;
}
.banner-text {
  padding: 200px 0 150px 0;
}
.banner-heading {
  font-size: 4.62rem;
  font-weight: bold;
  line-height: 5rem;
  margin-bottom: 30px;
  color: #fff;
}
.banner-sub-heading {
  font-weight: 400;
  margin-bottom: 50px;
  color: #fff;
}

.banner-img-holder {
  width: 100%;
}

.banner-img-holder .img {
  position: relative;
  width: 110%;
  margin-top: 60px;
  padding-top: 1px;
  left: -120px;
}

.banner-content {
  margin: 100px 0px 50px 0px;
}
.banner-content h2 {
  color: var(--white);
  font-weight: bold;
  font-family: var(--font-family);
  font-size: 70px;
  line-height: 80px;
}

.banner-content h2 span {
  color: var(--primary-color-2);
  font-weight: bold;
  font-family: var(--font-family);
}
.banner-content p {
  color: var(--white) !important;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding-right: 70px;
  margin-top: 15px;
}

.banner-base {
  margin-top: 30px;
  color: var(--white);
}

.follow-me {
  position: absolute;
  bottom: 0px;
  left: 5%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -5%);
  transform: translate(0, -5%);
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.socials a {
  color: var(--white);
  text-decoration: none;
  margin-right: 20px;
  font-size: 14px;
}

.socials a img {
  color: var(--white);
  text-decoration: none;
  margin-right: 7px;
  width: 20px !important;
}

.demo {
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.demo a {
  color: var(--white);
  top: -90px;
  text-decoration: none;
  margin-left: -20px;
}
.demo a:hover {
  opacity: 0.5;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

#sdc a {
  padding-top: 60px;
}
#sdc a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 16px;
  height: 33px;
  margin-left: -15px;
  background: var(--white);
  border-radius: 50px;
  box-sizing: border-box;
}
#sdc a span::before {
  position: absolute;
  top: 5px;
  left: 50%;
  content: "";
  width: 7px;
  height: 10px;
  margin-left: -3px;
  background-color: var(--accent-color);
  border-radius: 50px;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.pp {
  width: 450px;
}

#meet-lauren {
  background: url(../../../../assets/images/banner-w.png) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mrn {
  position: relative;
  padding-top: 30px;
  float: right;
}
.mrn img {
  position: relative;
  height: 550px;
  width: auto;
  bottom: 0;
}

.mm-content {
  padding: 60px 40px 20px 0px;
}

.mm-content h3 {
  text-align: left;
  font-weight: bold;
}

.mm-content h3 span {
  color: var(--primary-color-2);
  text-align: left;
  font-weight: bold;
}

.mm-content .desc-one,
.desc-two {
  margin-bottom: 10px;
  color: var(--secondary-color-2);
}

.mm-content .desc-one {
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
  margin-top: 20px;
}

.mm-content .desc-two {
  font-size: 16px;
  line-height: 30px;
}

.mm-content .btn-holder {
  margin-top: 30px;
}
.white {
  color: white !important;
}

#helper {
  background: linear-gradient(269deg, #000000 40%, #0000004d 100%),
    url(../../../../assets/images/helper.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -1px;
  height: auto;
  padding: 50px 0px;
}

.help h4 {
  font-size: 33px;
  line-height: 55px;
  font-weight: bold;
  color: var(--white);
}
.help h4 span {
  font-size: 33px;
  line-height: 55px;
  font-weight: bold;
  color: var(--primary-color-2);
}

.desc p {
  margin-top: 14px;
  color: var(--white);
  font-weight: 400;
}

.help-card {
  margin-top: 30px;
}
.help-card h4 {
  font-size: 16px;
  line-height: 27px;
  color: var(--white);
}
.help-card p {
  font-size: 14px;
  line-height: 18.5px;
  color: var(--white);
  font-weight: 400;
}

.ic img {
  height: 25px;
}

.follow-me {
  margin-top: 20px;
  padding: 50px 100px;
}
.socials {
  padding-top: 10px;
  padding-right: 0px !important;
}
.socials a img {
  color: var(--white);
  text-decoration: none;
  margin-right: 7px;
  height: 20px !important;
}

// TESTIMONY

#testimonials {
  background: #263043;
  padding: 60px 0px 10px 0px;
  width: 100%;
  display: flex;
  grid-template-columns: 150px auto;
  overflow-x: hidden;
}

.row {
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.is-right {
  width: 150px;
  margin-left: auto;
  margin-left: 0px;
}

.intro-cont {
  padding: 0px 80px 0px 60px;
}
.intro-cont h3 {
  font-size: 35px;
  line-height: 45px;
  color: var(--white);
  font-weight: bold;
}
.intro-cont h3 span {
  font-size: 35px;
  line-height: 45px;
  color: var(--primary-color-2);
  font-weight: bold;
}
.intro-cont p {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--white-50);
  margin-top: 25px;
}
.intro-cont .action {
  margin-top: 60px;
}

.content-wrapper .testimony-card {
  background: #ffffff10;
  width: 500px;
  border-radius: 10px;
  padding: 50px 20px 30px 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline-block;
  white-space: normal;
  overflow: auto;
}

.testimony-card .row {
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.testimony-card-inner p {
  color: var(--white);
  text-transform: capitalize;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.mmb {
  margin-bottom: -4px;
}
small {
  color: var(--white-50);
  margin-top: -20px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.content-wrapper {
  width: 100%;
  white-space: nowrap;
  // overflow: hidden;
}

.content-wrapper .slide-indicator {
  width: 25px;
  height: 0px;
  border: 2px solid var(--white-50);
  border-radius: 4px;
  float: left;
  margin-right: 15px;
}

.content-wrapper .slide-indicator:hover {
  border: 2px solid var(--white);
}

.content-wrapper .slide-indicator.active {
  width: 35px;
  height: 0px;
  border: 2px solid var(--white);
  border-radius: 4px;
  float: left;
  margin-right: 15px;
}

.float-bottom {
  margin-top: 60px;
  margin-left: -150px;
}

// NEW WAY
.testimony-card.anim {
  position: relative;
  animation: mymove 0.25s infinite;
}

@keyframes mymove {
  from {
    right: 0px;
  }
  to {
    right: 300px;
  }
}

// Media
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 595px) {
  #testimonials {
    height: auto;
    padding: 20px !important;
    width: 100% !important;
  }

  .intro-cont .action {
    margin: 24px 0px;
  }

  .content-wrapper .testimony-card {
    background: #ffffff10;
    width: 100%;
    border-radius: 10px;
    padding: 22px 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    white-space: normal;
    overflow: auto;
  }

  h3,
  h4 {
    font-size: 1.22rem;
    line-height: 1.8rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  #testimonials {
    background: #263043;
    height: auto;
    min-height: 610px;
    padding: 60px 0px 60px 30px;
    width: 100%;
  }
  .intro-cont .action {
    margin-top: 24px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
  #testimonials {
    background: #263043;
    height: 611px;
    min-height: 610px;
    padding: 60px 0px 50px 50px;
    width: 100%;
  }
  .test .btn {
    padding: 10px 20px;
    color: var(--white);
    background: var(--primary-color-2);
    box-shadow: 0px 4px 10px #4169e14d;
    border-radius: 25px;
    border: none !important;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

#slide {
  position: absolute;
  left: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  transition: 1s;
}

.wrapper:hover #slide {
  transition: 1s;
  left: 0;
}

// END

/*---media start----*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 595px) {
  .app-container {
    width: 100%;
    padding-right: 20px !important;
    padding-left: 20px !important;
    margin-right: auto;
    margin-left: auto;
  }
  .banner-img-holder {
    margin-top: 40px !important;
    padding-top: 40px !important;
    left: auto;
  }
  .banner-content {
    margin: 10px 20px;
  }
  .banner-img-holder .img {
    position: relative;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    left: 0px;
  }
  .bb {
    padding: 10px 20px;
    margin-top: 15px;
  }

  .banner-base {
    margin-bottom: 30px;
  }

  .follow-me {
    padding: 1px 20px;
    font-size: 13px;
    margin-bottom: 6px;
  }

  .socials {
    padding: 0px;
  }
  .socials a {
    margin-right: 10px;
  }
  .socials a img {
    text-decoration: none;
    margin-right: 7px;
    height: 20px !important;
  }

  .demo {
    bottom: 30px;
  }

  #partners {
    padding: 20px 20px !important;
  }

  .mm-content {
    padding: 40px 20px;
  }

  .mm-content .desc-one {
    font-size: 0.8rem;
    line-height: 2.2rem;
    font-weight: bold;
    margin-top: 30px;
  }

  .mrn {
    min-height: auto;
    height: auto;
  }

  .mrn img {
    width: 70%;
    height: auto;
    bottom: 0px;
  }

  #helper {
    background: var(--secondary-color);
    margin-top: 0px;
    height: auto;
  }

  .hc {
    padding: 20px;
  }

  .help-card .row .col-d-2 {
    width: 10%;
  }
  .help-card .row .pr-20 {
    padding-right: 0px;
  }
  .help-card .row .col-d-10 {
    width: 90%;
  }

  #testimonials {
    height: auto;
    padding: 20px !important;
    width: 100% !important;
  }

  .banner-content h2 {
    color: var(--white);
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 25px;
    line-height: 40px;
  }

  h3,
  h4 {
    font-size: 1.22rem;
    line-height: 1.8rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 799px) {
  .banner-content {
    margin-top: 20px;
  }
  h2 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .banner-content h2 {
    color: var(--white);
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 30px;
  }
  .desc {
    font-size: 0.7rem;
  }

  .hc {
    padding: 20px;
  }

  .help-card .row .col-d-2 {
    width: 10%;
  }
  .help-card .row .pr-20 {
    padding-right: 0px;
  }
  .help-card .row .col-d-10 {
    width: 90%;
  }

  #meet-lauren {
    height: auto;
  }
  .mrn {
    min-height: 547px;
  }
  .mrn img {
    position: relative;
    height: 500px;
    width: auto;
    bottom: 0;
  }
  #helper {
    background: var(--secondary-color);
    margin-top: -1px;
    height: auto;
    padding: 50px 0px;
  }
  .banner-base {
    margin-top: 140px;
    color: var(--white);
  }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
  .banner-content {
    margin-top: 20px;
  }

  h2 {
    font-size: 3rem;
    line-height: 3.9rem;
  }
  .banner-content h2 {
    color: var(--white);
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 30px;
    line-height: 40px;
  }
  .desc {
    font-size: 0.99rem;
    margin-bottom: 30px;
  }

  .hc {
    padding: 20px;
  }

  .help-card .row .col-d-2 {
    width: 10%;
  }
  .help-card .row .pr-20 {
    padding-right: 0px;
  }
  .help-card .row .col-d-10 {
    width: 90%;
  }

  #meet-lauren {
    height: auto;
  }
  .mm-content .desc-one {
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: bold;
    margin-top: 20px;
  }
  .mrn {
    min-height: auto;
    width: 100%;
  }
  .mrn img {
    position: relative;
    height: auto;
    width: 100%;
    bottom: 0px;
    margin-top: 400px;
  }
  #helper {
    background: linear-gradient(269deg, #000000 40%, #0000004d 100%),
      url("../../../../assets/images/helper.png");
    background-size: cover;
    margin-top: -1px;
    height: auto;
    padding: 50px 0px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1299px) {
  .banner-content h2 {
    color: var(--white);
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 40px;
    line-height: 60px;
  }
}

@media screen and (min-width: 1300px) {
  h2 {
    font-size: 4.05rem;
  }
}
