.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  transition: 0.5s;
  animation-name: FadeIn;
  animation-duration: 3s;
  transition-timing-function: linear;
  align-items: center;
  background: var(--secondary-color);
  background-size: cover;
  background-position: center;
}
.banner-text {
  padding: 200px 0 150px 0;
}
.banner-heading {
  font-size: 4.62rem;
  font-weight: bold;
  line-height: 5rem;
  margin-bottom: 30px;
  color: #fff;
}
.banner-sub-heading {
  font-weight: 400;
  margin-bottom: 50px;
  color: #fff;
}

.banner-img-holder {
  width: 100%;
}

.banner-img-holder .img {
  position: relative;
  width: 100%;
  margin-top: 60px;
  padding-top: 70px;
  left: -80px;
}

.banner-content {
  margin-top: 100px;
  // padding-top: 50px;
}
.banner-content h2 {
  color: var(--white);
  font-weight: bold;
  font-family: var(--font-family);
}

.banner-content h2 span {
  color: var(--primary-color);
  font-weight: bold;
  font-family: var(--font-family);
}
.banner-content p {
  color: var(--white) !important;
  font-family: var(--font-family);
  padding-right: 70px;
}

.banner-base {
  margin-top: 30px;
  color: var(--white);
}

.follow-me {
  position: absolute;
  bottom: 0px;
  left: 5%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -5%);
  transform: translate(0, -5%);
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.socials a {
  color: var(--white);
  text-decoration: none;
  margin-right: 20px;
  font-size: 14px;
}

.socials a img {
  color: var(--white);
  text-decoration: none;
  margin-right: 7px;
  width: 20px !important;
}

.demo {
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.demo a {
  color: var(--white);
  top: -90px;
  text-decoration: none;
  margin-left: -20px;
}
.demo a:hover {
  opacity: 0.5;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

#sdc a {
  padding-top: 60px;
}
#sdc a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 16px;
  height: 33px;
  margin-left: -15px;
  background: var(--white);
  border-radius: 50px;
  box-sizing: border-box;
}
#sdc a span::before {
  position: absolute;
  top: 5px;
  left: 50%;
  content: "";
  width: 7px;
  height: 10px;
  margin-left: -3px;
  background-color: var(--accent-color);
  border-radius: 50px;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#meet-lauren {
  background: url(../../../../assets/images/banner-w.png) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 749px;
  min-height: 748px;
}

.mrn {
  min-height: 747px;
  position: relative;
}
.mrn img {
  position: relative;
  height: 660px;
  width: auto;
  bottom: 0;
}

.mm-content {
  padding: 70px 40px 20px 0px;
}

.mm-content h3 {
  text-align: left;
  font-weight: bold;
}

.mm-content h3 span {
  color: var(--primary-color);
  text-align: left;
  font-weight: bold;
}

.mm-content .desc-one,
.desc-two {
  margin-bottom: 10px;
  color: var(--secondary-color-2);
}

.mm-content .desc-one {
  font-size: 1.56rem;
  line-height: 2.2rem;
  font-weight: bold;
  margin-top: 30px;
}

.mm-content .desc-two {
  font-size: 16px;
  line-height: 30px;
}

.mm-content .btn-holder {
  margin-top: 50px;
}

#helper {
  background: linear-gradient(269deg, #000000 40%, #0000004d 100%),
    url(../../../../assets/images/helper.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -1px;
  height: auto;
  padding: 50px 0px;
}

.help h4 {
  font-size: 33px;
  line-height: 55px;
  font-weight: bold;
  color: var(--white);
}
.help h4 span {
  font-size: 33px;
  line-height: 55px;
  font-weight: bold;
  color: var(--primary-color);
}

.desc p {
  margin-top: 20px;
  color: var(--white);
}

.help-card {
  margin-top: 30px;
}
.help-card h4 {
  font-size: 25px;
  line-height: 35px;
  color: var(--white);
}
.help-card p {
  font-size: 15px;
  line-height: 30px;
  color: var(--white-50);
}

.follow-me {
  margin-top: 20px;
  padding: 50px 100px;
}
.socials {
  padding-top: 10px;
  padding-right: 0px !important;
}
.socials a img {
  color: var(--white);
  text-decoration: none;
  margin-right: 7px;
  height: 20px !important;
}

/*---media start----*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 595px) {
  .banner-img-holder {
    margin-top: 40px !important;
    padding-top: 40px !important;
    left: auto;
  }
  .banner-content {
    margin: 10px 20px;
  }
  .banner-img-holder .img {
    position: relative;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    left: 0px;
  }
  .bb {
    padding: 10px 20px;
    margin-top: 15px;
  }

  .banner-base {
    margin-bottom: 30px;
  }

  .follow-me {
    padding: 1px 20px;
    font-size: 13px;
    margin-bottom: 6px;
  }

  .socials {
    padding: 0px;
  }
  .socials a {
    margin-right: 10px;
  }
  .socials a img {
    text-decoration: none;
    margin-right: 7px;
    height: 20px !important;
  }

  .demo {
    bottom: 30px;
  }

  #partners {
    padding: 20px 20px !important;
  }

  .mm-content {
    padding: 40px 20px;
  }

  .mm-content .desc-one {
    font-size: 0.8rem;
    line-height: 2.2rem;
    font-weight: bold;
    margin-top: 30px;
  }

  .mrn {
    min-height: auto;
    height: auto;
  }

  .mrn img {
    width: 70%;
    height: auto;
    bottom: 0px;
  }

  #helper {
    background: var(--secondary-color);
    margin-top: 0px;
    height: auto;
  }

  .hc {
    padding: 20px;
  }

  .help-card .row .col-d-2 {
    width: 10%;
  }
  .help-card .row .pr-20 {
    padding-right: 0px;
  }
  .help-card .row .col-d-10 {
    width: 90%;
  }

  #testimonials {
    height: auto;
    padding: 20px !important;
    width: 100% !important;
  }

  h3,
  h4 {
    font-size: 1.22rem;
    line-height: 1.8rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 799px) {
  .banner-content {
    margin-top: 20px;
  }
  h2 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .desc {
    font-size: 0.7rem;
  }

  .hc {
    padding: 20px;
  }

  .help-card .row .col-d-2 {
    width: 10%;
  }
  .help-card .row .pr-20 {
    padding-right: 0px;
  }
  .help-card .row .col-d-10 {
    width: 90%;
  }

  #meet-lauren {
    height: auto;
  }
  .mrn {
    min-height: 547px;
  }
  .mrn img {
    position: relative;
    height: 500px;
    width: auto;
    bottom: 0;
  }
  #helper {
    background: var(--secondary-color);
    margin-top: -1px;
    height: auto;
    padding: 50px 0px;
  }
  .banner-base {
    margin-top: 140px;
    color: var(--white);
  }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
  .banner-content {
    margin-top: 20px;
  }
  h2 {
    font-size: 3rem;
    line-height: 3.9rem;
  }
  .desc {
    font-size: 0.99rem;
    margin-bottom: 30px;
  }

  .hc {
    padding: 20px;
  }

  .help-card .row .col-d-2 {
    width: 10%;
  }
  .help-card .row .pr-20 {
    padding-right: 0px;
  }
  .help-card .row .col-d-10 {
    width: 90%;
  }

  #meet-lauren {
    height: auto;
  }
  .mm-content .desc-one {
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: bold;
    margin-top: 20px;
  }
  .mrn {
    min-height: auto;
    width: 100%;
  }
  .mrn img {
    position: relative;
    height: auto;
    width: 100%;
    bottom: 0px;
    margin-top: 400px;
  }
  #helper {
    background: linear-gradient(269deg, #000000 40%, #0000004d 100%),
      url("../../../../assets/images/helper.png");
    background-size: cover;
    margin-top: -1px;
    height: auto;
    padding: 50px 0px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1299px) {
  h2 {
    font-size: 3.05rem;
  }
}

@media screen and (min-width: 1300px) {
  h2 {
    font-size: 4.05rem;
  }
}
