<app-header-two></app-header-two>

<section id="contact">
  <div class="row">
    <div class="col-d-5 col-t-5 lefty"></div>
    <div class="col-d-7 col-t-7 righty">
      <div class="intro">
        <h2>What are you curious <span>about?</span></h2>
        <div class="description">
          <p>There's a lot to talk about when it comes to learning and the brain. Let's start with a conversation and
            explore what you're curious about.</p>
        </div>
      </div>

      <div class="form-area">
        <p class="desc">Send A Message</p>
        <div class="form">
          <div class="row">
            <div class="col-d-8 col-t-8">
              <div class='form-area-left'>
                <input type="text" class="app-input-line" placeholder="Your full name here">

                <input type="text" class="app-input-line" placeholder="Your email here">

                <textarea type="text" class="app-input-line" placeholder="Type your message here" rows="10"></textarea>
              </div>
            </div>
            <div class="col-d-4 col-t-4">
              <p>What Are You Curious About?</p>

              <div class='form-area'>

                <div class="cb-holder">
                  <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="Project Consultation">
                  <label for="styled-checkbox-1">Project Consultation</label>
                </div>

                <div class="cb-holder">
                  <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="Workshops">
                  <label for="styled-checkbox-1">Workshops</label>
                </div>

                <div class="cb-holder">
                  <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="Speaking">
                  <label for="styled-checkbox-1">Speaking</label>
                </div>

                <div class="cb-holder">
                  <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="Others">
                  <label for="styled-checkbox-1">Others</label>
                </div>

                <div class="btn-holder">
                  <button class="btn">
                    Send Message
                  </button>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="follow-us">
          <p class="h">Follow Us</p>
          <div class="row">
            <div class="col-d-4 col-t-4">
              <p>
                <small class="d">twitter</small><br>
                <small class="dd">/Laurenwaldman</small>
              </p>
            </div>
            <div class="col-d-4 col-t-4">
              <p>
                <small class="d">instagram</small><br>
                <small class="dd">/Laurenwaldman</small>
              </p>
            </div>
            <div class="col-d-4 col-t-4">
              <p>
                <small class="d">linkedin</small><br>
                <small class="dd">/Laurenwaldman</small>
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<app-footer></app-footer>
