#contact .row {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
.lefty {
  background: var(--secondary-color);
  background: url("../../../assets/images/contact/Banner.png") center/cover
    no-repeat;
  padding: 50px 0px;
}

.righty {
  background: var(--scaffold-background-color);
  padding: 185px 110px 60px 40px;
}

.righty .intro {
  position: relative;
  width: 95%;
  margin-bottom: 30px;
  border-bottom: 0.7px solid #b8bacf;
}

.righty .intro::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 2px;
  bottom: 0;
  border-bottom: 1px solid #7851a9;
}

.righty .intro h2 {
  font-size: 2.66rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.righty .intro .description {
  width: 70%;
}

.righty .form-area {
  margin-top: 30px;
}

.righty .form-area .desc {
  font-weight: 600;
  margin-bottom: 40px;
}

.righty .form-area .btn-holder {
  margin-top: 40px;
}

.righty .form-area-left {
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-right: 50px;
}

.follow-us {
  margin-top: 120px;
}
.follow-us .h {
  font-weight: 500;
  color: var(--secondary-color);
}
.follow-us .d {
  font-weight: 400;
  color: var(--font-color);
  font-size: 0.6rem;
}
.follow-us .dd {
  font-weight: 500;
  color: var(--secondary-color);
  font-size: 0.8rem;
}

@media only screen and (max-width: 595px) {
  .form .row .col-d-8,
  .form .row .col-t-4 {
    width: 100%;
  }

  .follow-us .row .col-d-4,
  .follow-us .row .col-t-4 {
    width: 100%;
  }

  .righty {
    background: var(--scaffold-background-color);
    padding: 85px 30px 20px 20px;
  }

  .righty .intro {
    position: relative;
    width: 95%;
    margin-bottom: 30px;
    border-bottom: 0.7px solid #b8bacf;
  }

  .righty .intro h2 {
    font-size: 2.16rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .righty .intro .description {
    width: 100%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
  .form .row .col-d-8,
  .form .row .col-t-4 {
    width: 100%;
  }

  .follow-us .row .col-d-4,
  .follow-us .row .col-t-4 {
    width: 100%;
  }

  .righty {
    background: var(--scaffold-background-color);
    padding: 85px 30px 20px 20px;
  }

  .righty .intro {
    position: relative;
    width: 95%;
    margin-bottom: 30px;
    border-bottom: 0.7px solid #b8bacf;
  }
}
