<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-d-3 col-t-3">
        <div class="foot-1">
          <img src="../../../../assets/images/logo.png" alt="">
          <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore.
          </p>
          <div class="foot-social">
            <a *ngFor="let item of socials" [href]="item.url" target="_blank">
              <img [src]="item.icon" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="col-d-2 col-t-2">
        <div class="foot">
          <ul>
            <li *ngFor="let item of linksOne">
              <a [routerLink]="item.url">{{ item.title }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-d-2 col-t-2">
        <div class="foot">
          <ul>
            <li *ngFor="let item of linksOne">
              <a [routerLink]="item.url">{{ item.title }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-d-2 col-t-2">
        <div class="foot">
          <ul>
            <li *ngFor="let item of contacts">
              <a [href]="'mailto:' + item.url">
                <i [class]="item.icon"></i>
                {{ item.title }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-d-3 col-t-3">
        <div class="foot">
          <img src="../../../../assets/images/yarr.png" alt="">
        </div>
      </div>
    </div>

    <div class="row copyright">
      <a routerLink="/"> © Learning Pirate {{ year }}. All Rights Reserved</a>
    </div>
  </div>
</section>
