<app-breadcrumb [title]="breadcrumbTitle"></app-breadcrumb>

<section class="speaking">
  <div class="container">
    <div class="row">
      <div class="col-d-6 col-t-6">
        <div class="t">
          <h3 [innerHtml]="sectionOne.title"></h3>
        </div>
        <div class="d" [innerHtml]="sectionOne.desc"></div>

        <div class="btn-holder">
          <button class="btn" [routerLink]="sectionOne.btnLink">
            {{ sectionOne.btnText }} <i class="ml-30">&rarr;</i>
          </button>
        </div>

      </div>
      <div class="col-d-6 col-t-6"></div>
    </div>
  </div>
</section>

<section class="learning-design-process">
  <div class="container">
    <div class="h">
      <h4>Conference <span>Testimonials</span></h4>
    </div>

    <div class="row">
      <div class="col-d-4 col-t-4" *ngFor="let item of testimonials">
        <div class="quote">
          <div class="top">
            <i class="ri-double-quotes-l"></i>
          </div>
        </div>
        <div class="testimony-card">
          <div class="d" [innerHtml]="item.desc" style="color: #fff;"></div>
          <div class="i">
            <small class="uppercase">{{ item.event }}</small>
            <div id="wrapper">
              <div id="first">
                <img [src]="item.icon" alt="">
              </div>
              <span id="second">{{ item.title }}</span>
            </div>
          </div>
        </div>
        <div class="space-between">
          <p>&nbsp;</p>
          <div class="quote">
            <div class="bottom">
              <i class="ri-double-quotes-r bottom"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="experienced-talks">
  <div class="container">
    <div class="row">
      <div class="col-d-12 col-t-12 tt">
        <h4 [innerHtml]="sectionTwo.header"></h4>
      </div>
    </div>
  </div>
  <div class="row change-this">
    <div class="col-d-6 col-t-6 et-left"></div>
    <div class="col-d-6 col-t-6 et-right">
      <h4 [innerHtml]="sectionTwo.title"></h4>
      <div class="d" [innerHtml]="sectionTwo.desc"></div>

      <div class="audience" [innerHtml]="sectionTwo.par"></div>

      <div class="btn-holder">
        <button class="btn">{{ sectionTwo.btnText }}</button>
      </div>
    </div>
  </div>

  <div class="row brain-wide-shut">
    <div class="col-d-6 col-t-6 et-left">
      <h4 [innerHtml]="sectionThree.title"></h4>
      <div class="desc" [innerHtml]="sectionThree.subtitle"></div>
      <div class="d" [innerHtml]="sectionThree.desc"></div>

      <div class="audience" [innerHtml]="sectionThree.par"></div>

      <div class="btn-holder">
        <button class="btn" [routerLink]="sectionThree.btnLink">{{ sectionThree.btnText }}</button>
      </div>
    </div>
    <div class="col-d-6 col-t-6 et-right"></div>
  </div>

  <div class="row your-brain-on-learning">
    <div class="col-d-6 col-t-6 et-left">
      <h4 [innerHtml]="sectionFour.title"></h4>
      <div class="desc" [innerHtml]="sectionFour.subtitle"></div>
      <div class="d" [innerHtml]="sectionFour.desc"></div>

      <div class="audience" [innerHtml]="sectionFour.par"></div>

      <div class="btn-holder">
        <button class="btn" [routerLink]="sectionFour.btnLink">{{ sectionFour.btnText }}</button>
      </div>
    </div>
    <div class="col-d-6 col-t-6 et-right"></div>
  </div>

</section>

<section class="post-events">
  <div class="container">
    <div class="row">
      <div class="col-d-12 col-t-12 mb-4">
        <h4>Past <span>Events</span></h4>
      </div>
    </div>

    <app-event-carousel [items]="slides" [autoSlide]="true"></app-event-carousel>
  </div>
</section>

<app-partners-filter></app-partners-filter>

<app-let-create-together></app-let-create-together>
