<div class="play-card" *ngFor="let item of podcasts; let i = index">
  <div>
    <div class="pp-holder">
      <i class="ri-play-fill" (click)="openFile(item, i)" *ngIf="currentIndex != i"></i>
      <i class="ri-pause-fill" (click)="openFile(item, i)" *ngIf="currentIndex == i"></i>
    </div>
  </div>
  <div>
    <div class="album">
      <img [src]="item.icon">
      <img [src]="item.icon" class="content">
    </div>
  </div>
  <div>
    <div class="info">
      <p class="file-title">{{ item.title }}</p>
      <small class="file-desc">{{ item.subtitle }}</small>
    </div>
  </div>
  <div>
    <p class="file-title">{{ item.author }}</p>
    <small class="file-desc">{{ item.duration}}</small>
  </div>
  <div>
    <p class="file-title">{{ item.date }}</p>
  </div>
</div>


<div class="music-player">
  <div class="cover">
    <img [src]="currentFile.file.icon" alt="">
  </div>
  <div class="row player">

    <div class="actions">
      <button class="music-btn" [disabled]="isFirstPlaying()" (click)="previous()">
        <i class="ri-rewind-fill"></i>
      </button>
      <button class="music-btn" (click)="play(currentFile.index)" [disabled]="state?.error" *ngIf="!state?.playing">
        <i class="ri-play-fill"></i>
      </button>
      <button class="music-btn" (click)="pause()" [disabled]="state?.error" *ngIf="state?.playing">
        <i class="ri-pause-fill"></i>
      </button>
      <button class="music-btn" [disabled]="isLastPlaying()" (click)="next()">
        <i class="ri-speed-fill"></i>
      </button>

      <div class="volume">
        <button class="music-btn">
          {{ currentFile.file.date }}
        </button>
        <!-- <button class="music-btn" (click)="stop()">
          <i class="ri-stop-line" [ngClass]="{'primary-color': stopThis}"></i>
        </button>
        <button class="music-btn" (click)="shuffle()">
          <i class="ri-shuffle-line" [ngClass]="{'primary-color': shuffleThis}"></i>
        </button> -->
        <!-- <button class="music-btn" (click)="repeatThis = !repeatThis">
          <i class="ri-repeat-one-line" [ngClass]="{'primary-color': repeatThis}"></i>
        </button> -->
      </div>
    </div>

    <div class="play-progress">

      <div id="timeline">

        {{ getPercentagePlayed(state?.readableCurrentTime, state?.readableDuration) }}

        <div class="timer">
          <span>{{ state?.readableCurrentTime }}</span>
          <span>{{ state?.readableDuration }}</span>
        </div>

        <div class="progress2 progress-moved">
          <div class="progress-bar2" [style.width.%]="value">
          </div>
        </div>

        <div class="artist">
          <p>
            <i class="ri-music-line"></i>
            <small style="color: #ffffff80;"> {{ currentFile.file.author }} 's &nbsp; </small>
            {{ currentFile.file.title }}
          </p>
        </div>
      </div>

    </div>

  </div>
</div>
