<section id="gallery">
  <div class="row">
    <div class="col-d-12 col-t-12 content-wrapper">
      <div class="space-between">
        <h3>Gallery</h3>
        <div>
          <i class="ri-arrow-left-s-line" style="font-size: 50px; color: white;"></i>
          <i class="ri-arrow-right-s-line" style="font-size: 50px; color: white;"></i>
        </div>
      </div>

      <div class="scrollmenu">
        <div class="img" id="imgModal" *ngFor="let item of gallery">
          <img [src]="item.imageUrl">
        </div>
      </div>

      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>

    </div>
  </div>
</section>
