#gallery {
  background: #263043;
  padding: 40px 0px 0px 170px;
  width: 100%;
}

.row {
  margin-right: 0px !important;
  padding-right: 0px !important;
}

h3 {
  color: var(--white);
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  padding-left: 1px;
}

div.scrollmenu .img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 33px 20px 33px 0px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

div.scrollmenu .img img {
  height: 300px !important;
}

@media screen and (max-width: 850px) {
  #gallery {
    background: #263043;
    padding: 40px 0px 0px 20px;
    width: 100%;
  }
}
