/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --primary-color-2: #0095e7;
  --primary-color: #216ed8;
  --secondary-color: #000000;
  --secondary-color-2: #263043;
  --accent-color: #7851a9;
  --accent-color-2: #0095e727;
  --accent-color-2: #7851a965;
  --font-color: #707070;
  --font-color-2: #0000004d;
  --scaffold-background-color: #e8e8ea;
  --scaffold-background-color-2: #e8e8e8;
  --card-color: #ffffff;
  --white: #ffffff;
  --white-50: #ffffff50;
  --teal: teal;
  --purple: #7851a9;
  --error: #af0000;
  --warning: orange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

.body {
  font-size: 100%;
  color: var(--font-color);
}

h3,
h4 {
  font-size: 2.44rem; // 39.04px
  line-height: 3.125rem; // 50px
  color: #323233;
  font-family: var(--font-family);
}

span {
  color: var(--primary-color);
}

.app-container {
  width: 100%;
  padding-right: 150px !important;
  padding-left: 150px !important;
  margin-right: auto;
  margin-left: auto;
}

.app-input {
  border: none;
  height: 50px;
  line-height: 40px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0px 20px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  -webkit-border-top-right-radius: 46px;
  -moz-border-radius-topright: 46px;
  border-top-right-radius: 46px;
  -webkit-border-bottom-right-radius: 46px;
  -moz-border-radius-bottomright: 46px;
  border-bottom-right-radius: 46px;
  -webkit-border-top-left-radius: 46px;
  -moz-border-radius-topleft: 46px;
  border-top-left-radius: 46px;
  -webkit-border-bottom-left-radius: 46px;
  -moz-border-radius-bottomleft: 46px;
  border-bottom-left-radius: 46px;
  outline: none;
  color: #4b4c4e;
  background-color: var(--white);
}

.app-input-line {
  height: 50px;
  line-height: 40px;
  padding: 0px 20px 0px 0px;
  vertical-align: middle;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-color);
  margin-bottom: 15px;
  background-color: transparent;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #00000020 1px;
  padding: 3px 10px;
}

textarea {
  min-height: 120px;
}

.bold {
  font-weight: 700;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 20px;
    display: inline-block;
    vertical-align: text-top;
    width: 23px;
    height: 23px;
    border: 1px solid var(--font-color);
  }

  &:hover + label:before {
    background: var(--primary-color);
  }

  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  &:checked + label:before {
    background: var(--primary-color);
  }

  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 12px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.cb-holder {
  margin-top: 10px;
}

.btn {
  padding: 8px 35px;
  color: var(--white);
  background: var(--primary-color);
  box-shadow: 0px 4px 10px #0095e727;
  border-radius: 50px;
  border: none !important;
}

.btn:hover {
  padding: 8px 35px;
  color: var(--white);
  background: var(--primary-color-2);
  box-shadow: 0px 4px 10px #0095e727;
  border-radius: 50px;
  border: none !important;
}

.btn-outline {
  padding: 5px 50px;
  box-shadow: 0px 4px 10px #0095e727;
  border: 1px solid #ffffff;
  border-radius: 50px;
  color: var(--primary-color);
  background: transparent !important;
}
.btn-outline:hover {
  padding: 5px 50px;
  box-shadow: 0px 4px 10px #0095e727;
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  color: var(--white);
  background: var(--secondary-color);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.primary-color {
  color: var(--primary-color);
}

.primary-color-2 {
  color: var(--primary-color-2);
}

.white-color {
  color: var(--white);
}

.h-100 {
  height: 100%;
}

.parent {
  display: flex;
}
.child-bottom {
  align-self: flex-end;
}

.circle-15 {
  background: #76777940 0% 0% no-repeat padding-box;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.circle-15-b {
  background: #216ed830 0% 0% no-repeat padding-box;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.mt-100 {
  margin-top: 100px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-70 {
  margin-top: 70px;
}

ol,
ul {
  padding-left: 0px !important;
}

.shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #212529;
}

img {
  width: 100%;
  height: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  margin-top: 60px;
  font-weight: 700;
  color: var(--white);
  font-size: 5.5rem;
  letter-spacing: 0.95rem;
}
span {
  color: var(--primary-color);
}

.desc p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-weight: bold;
  margin-top: 3px;
}

.bc-title {
  margin-top: 70px;
  width: 50% !important;
}

/*---media start----*/

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

// Media
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 595px) {
  .btn {
    padding: 10px 20px;
    color: var(--white);
    background: var(--primary-color);
    box-shadow: 0px 4px 10px #4169e14d;
    border-radius: 25px;
    font-size: 0.9rem;
    border: none !important;
  }

  .btn-outline {
    padding: 5px 50px;
    box-shadow: 0px 4px 10px #7851a965;
    border: 1px solid #ffffff;
    border-radius: 25px;
    color: var(--primary-color);
    background: transparent !important;
  }

  h2,
  h3,
  h4 {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  .bc-title {
    margin-top: 40px;
    width: 100% !important;
  }

  .mt-50 {
    margin-top: 25px;
  }

  .app-input {
    border: none;
    height: 50px;
    line-height: 40px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0px 20px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    -webkit-border-top-right-radius: 46px;
    -moz-border-radius-topright: 46px;
    border-top-right-radius: 46px;
    -webkit-border-bottom-right-radius: 46px;
    -moz-border-radius-bottomright: 46px;
    border-bottom-right-radius: 46px;
    -webkit-border-top-left-radius: 46px;
    -moz-border-radius-topleft: 46px;
    border-top-left-radius: 46px;
    -webkit-border-bottom-left-radius: 46px;
    -moz-border-radius-bottomleft: 46px;
    border-bottom-left-radius: 46px;
    outline: none;
    color: #4b4c4e;
    background-color: var(--white);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 799px) {
  h3,
  h4 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: bold;
  }
}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) and (max-width: 991px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2.1rem;
    font-weight: bold;
  }
  .col-t-1 {
    width: 8.33%;
  }
  .col-t-2 {
    width: 16.66%;
  }
  .col-t-3 {
    width: 25%;
  }
  .col-t-4 {
    width: 33.33%;
  }
  .col-t-5 {
    width: 41.66%;
  }
  .col-t-6 {
    width: 50%;
  }
  .col-t-7 {
    width: 58.33%;
  }
  .col-t-8 {
    width: 66.66%;
  }
  .col-t-9 {
    width: 75%;
  }
  .col-t-10 {
    width: 83.33%;
  }
  .col-t-11 {
    width: 91.66%;
  }
  .col-t-12 {
    width: 100%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
  h3,
  h4 {
    font-size: 1.7rem;
    line-height: 2.15rem;
    font-weight: bold;
  }

  .col-d-1 {
    width: 8.33%;
  }
  .col-d-2 {
    width: 16.66%;
  }
  .col-d-3 {
    width: 25%;
  }
  .col-d-4 {
    width: 33.33%;
  }
  .col-d-5 {
    width: 41.66%;
  }
  .col-d-6 {
    width: 50%;
  }
  .col-d-7 {
    width: 58.33%;
  }
  .col-d-8 {
    width: 66.66%;
  }
  .col-d-9 {
    width: 75%;
  }
  .col-d-10 {
    width: 83.33%;
  }
  .col-d-11 {
    width: 91.66%;
  }
  .col-d-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1299px) {
  h3,
  h4 {
    font-size: 1.9rem;
    line-height: 2.19rem;
    font-weight: bold;
  }
  .mrn img {
    position: relative;
    height: auto;
    width: 100%;
    bottom: 0px;
  }
  .col-d-1 {
    width: 8.33%;
  }
  .col-d-2 {
    width: 16.66%;
  }
  .col-d-3 {
    width: 25%;
  }
  .col-d-4 {
    width: 33.33%;
  }
  .col-d-5 {
    width: 41.66%;
  }
  .col-d-6 {
    width: 50%;
  }
  .col-d-7 {
    width: 58.33%;
  }
  .col-d-8 {
    width: 66.66%;
  }
  .col-d-9 {
    width: 75%;
  }
  .col-d-10 {
    width: 83.33%;
  }
  .col-d-11 {
    width: 91.66%;
  }
  .col-d-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    padding: 0px 0px;
  }
  h3,
  h4 {
    font-size: 2.2rem;
    line-height: 2.9rem;
    font-weight: bold;
  }
  .col-d-1 {
    width: 8.33%;
  }
  .col-d-2 {
    width: 16.66%;
  }
  .col-d-3 {
    width: 25%;
  }
  .col-d-4 {
    width: 33.33%;
  }
  .col-d-5 {
    width: 41.66%;
  }
  .col-d-6 {
    width: 50%;
  }
  .col-d-7 {
    width: 58.33%;
  }
  .col-d-8 {
    width: 66.66%;
  }
  .col-d-9 {
    width: 75%;
  }
  .col-d-10 {
    width: 83.33%;
  }
  .col-d-11 {
    width: 91.66%;
  }
  .col-d-12 {
    width: 100%;
  }
}
