// .head-container {
//   height: 100vh;
// }

.head {
  background: var(--secondary-color);
  height: 150px;
  content: "";
}

.main {
  padding: 50px 0px;
}

.right h2 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 15px;
}

.free-guide {
  padding-left: 80px;
}
.free-guide img {
  width: 100%;
}

.form {
  width: 500px;
}

.form h4 {
  font-size: 27px;
  font-weight: 600;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}
