<section class="head-container">
  <div class="head"></div>
  <div class="container">
    <div class="row main">
      <div class="col-d-7 col-t-7 right letter-spacing">
        <h4>Join the crew</h4>
        <h2><span>YARR</span></h2>
        <h5>YOU ARE REALLY READY</h5>

        <div class="form">
          <h4 class="mt-50">A little bit of treasure for your brain</h4>

          <p>This short guide will give you some high level tips that will help you organize your content and design
            more
            efficiently for your audience, those great humans doing the learning.</p>

          <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="row">
              <div class="col-d-12 col-t-12">
                <div class='form-area-left'>
                  <input type="text" class="app-input-line" placeholder="Your Full Name here" #fullName
                    formControlName="fullName">

                  <input type="text" class="app-input-line" placeholder="Your Message" #message
                    formControlName="message">

                  <input type="text" class="app-input-line" placeholder="Your email here" #email
                    formControlName="email">

                </div>
              </div>

            </div>
          </form>
        </div>

        <button class="btn ml-30" [disabled]="isSubmitting" [ngClass]="{'disabled': isSubmitting}" (click)="onSubmit()">
          <ng-container *ngIf="isSubmitting">
            <i class="ri-loader-2-line"></i> Processing
          </ng-container>
          <ng-container *ngIf="!isSubmitting">
            Get the free guide
          </ng-container>

        </button>

      </div>
      <div class="col-d-5 col-t-5 free-guide">
        <img src="../../../../assets/images/Guide+cover.png" alt="">
      </div>
    </div>
  </div>
</section>
