.cont-right {
  background: url("../../../../assets/images/about/lauren.png");
  background-size: cover;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  // margin-bottom: -50px;
}

.cont-left {
  padding-right: 60px;
  padding-top: 40px;
}

.my-qualifications {
  margin: 20px 0px;
}
.my-qualifications h5 {
  font-size: 1.5rem;
  line-height: 2.1rem;
  font-weight: bold;
}

ul {
  list-style: none;
  margin-left: 25px;
  margin-bottom: 10px;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #7851a9;
  font-weight: bold;
  display: inline-block;
  width: 1.5rem;
  margin-left: -1.5rem;
}

.btn-holder {
  margin: 20px 0px 40px 0px;
}
.btn-holder button i {
  margin-left: 30px;
}

.board {
  // background: url("../../../../assets/images/about/lauren.png");
  background: var(--secondary-color);
  background-size: cover;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 40px 0px;
}

.board h4 {
  color: var(--white);
}

.team-card {
  border-radius: 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  transition: 1s;
  animation: fadeIn 3s;
  z-index: 1;
}

.team-card .team-card-body {
  text-align: left !important;
  padding: 10px;
}

.team-card .team-card-body .name {
  font-size: 1.16rem;
  font-weight: bold;
  margin-bottom: 0px;
}
.team-card .team-card-body .job-title {
  font-size: 0.6rem;
  font-weight: 400;
  margin-bottom: 0px;
}

.team-card img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lets-create {
  background: url("../../../../assets/images/about/Mask\ Group\ 14.png");
  background-size: cover;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 50px 0px;
  text-align: center !important;
  // min-height: 356px;
  // height: 356px;
}

.lets-create p {
  color: #00000050;
}

.lets-create .btn-holder {
  margin-top: 33px;
}

// Media
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 595px) {
  .lets-create {
    background: var(--scaffold-background-color);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-size: cover;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 50px 0px;
    text-align: center !important;
  }

  h3,
  h4,
  h5 {
    font-size: 1.22rem;
    line-height: 1.8rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  h3,
  h4 {
    font-size: 1.52rem;
    line-height: 2.4rem;
  }

  .my-qualifications h5 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: bold;
  }

  .lets-create {
    background: url("../../../../assets/images/about/lauren.png") center/cover
      no-repeat;
    padding: 50px 0px;
    text-align: center !important;
  }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
  h3,
  h4 {
    font-size: 1.92rem;
    line-height: 2.5rem;
  }

  .lets-create[_ngcontent-fvi-c18] {
    background: url("../../../../assets/images/about/lauren.png");
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-size: cover;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 50px 0px;
    text-align: center !important;
  }
}
