<app-breadcrumb [title]="breadcrumbTitle"></app-breadcrumb>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-d-6 col-t-6 cont-left">
        <h4 [innerHtml]="sectionOne.title"></h4>
        <div class="desc">
          <p>{{ sectionOne.subtitle }}</p>
        </div>
        <div [innerHtml]="sectionOne.desc"></div>
        <div class="my-qualifications">
          <h5 [innerHtml]="sectionOne.subtitle"></h5>
          <ul>
            <li *ngFor="let item of qualifications">
              {{ item }}
            </li>
          </ul>
        </div>
        <div class="btn-holder">
          <button class="btn" [routerLink]="sectionOne.btnLink">
            {{ sectionOne.btnText }} <i class="ml-30">&rarr;</i>
          </button>
        </div>
      </div>
      <div class="col-d-6 col-t-6 cont-right" [ngStyle]="{
        'background-image': 'url('+sectionOne.imageUrl
      }"></div>
    </div>
  </div>
</section>

<section class="board">
  <div class="container">
    <div class="row">
      <div class="col-d-12 col-t-12">
        <h4>Board of <span>Advisors</span></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-d-3 col-t-3" *ngFor="let item of board">
        <div class="team-card">
          <img [src]="item.icon">
          <div class="team-card-body">
            <p class="name">{{ item.name }}</p>
            <p class="job-title">{{ item.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-gallery></app-gallery>

<app-let-create-together></app-let-create-together>
