<app-breadcrumb [title]="breadcrumbTitle"></app-breadcrumb>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-d-6 col-t-6 cont-left">
        <h4>
          {{ sectionOne.title }} <span>{{ sectionOne.titleSpan }}</span>
        </h4>
        <div class="descc">
          <p>{{ sectionOne.subtitle }}</p>
        </div>
        <div class="mt-3" [innerHtml]="sectionOne.desc"></div>
        <div class="mt-3" [innerHtml]="sectionOne.para1"></div>
        <div class="mt-3" [innerHtml]="sectionOne.para2"></div>
        <div class="mt-3" [innerHtml]="sectionOne.para3"></div>
        <div class="my-qualifications">
          <h5>My <span>Qualifications</span></h5>
          <ul>
            <li *ngFor="let item of qualifications">
              {{ item.title }}
            </li>
          </ul>
        </div>
        <div class="btn-holder">
          <button class="btn" [routerLink]="sectionOne.btnLink">
            {{ sectionOne.btnText }}
          </button>
        </div>
      </div>
      <div class="col-d-6 col-t-6 cont-right" [ngStyle]="{
        'background-image': 'url('+sectionOne.imageUrl
      }"></div>
    </div>
  </div>
</section>

<section class="board">
  <div class="container">
    <div class="row">
      <div class="col-d-12 col-t-12">
        <h4>Board of <span>Advisors</span></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-d-3 col-t-3" *ngFor="let item of bods">
        <div class="team-card">
          <img [src]="item.imageUrl">
          <div class="team-card-body">
            <p class="name">{{ item.title }}</p>
            <p class="job-title">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-gallery></app-gallery>

<app-let-create-together></app-let-create-together>
